<body>
<div class="container">
<div class="row">
<div class="col-xs-3">
<h2>User info</h2>
<%= attachment_image_tag current_user, :profile_image, class: "img-block" ,  size: "100x100", fallback: "no_image.jpg" %>

<table class='table'>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= current_user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= current_user.introduction %></th>
    </tr>
  </tbody>
</table>

<% if user_signed_in? %>
<%= link_to edit_user_path(current_user) do %>
  <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench"></span>
<% end %>
<% end %>

<h2>New book</h2>
<%= form_with model:@book, url:'/books', local:true do |f| %>
 <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="Ki+lWw60A9BxInT/OrRUlyqjm335mlj8tPZlYdQiw2pdd0XjLKRR9PDatmPegZWCnJ1G7Ekoz8QyZLiTyHe6EA==" />
  <div class="field row">
    <label for="book_title">Title</label>
    <input class="col-xs-12 book_title" type="text" name="book[title]" id="book_title" />
  </div>

  <div class="field row">
    <label for="book_opinion">Opinion</label>
    <textarea class="col-xs-12 book_body" name="book[body]" id="book_body">
</textarea>
  </div>

  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book" />
  </div>
</form>
<% end %>
</div><!--col-xs-3 -->


<div class="col-xs-9">
<h1>Users</h1>


<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, class: "img-block" ,  size: "40x40", fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show",user_path(user.id)%></td>
      </tr>
     <% end %>
  </tbody>
</table>
</div><!--col-xs-9 -->
</div><!--row -->
</div><!--container -->